@charset "UTF-8";

/*  ------------------------------------

        全体の共通項目

------------------------------------ */
* {
  margin: 0;
  padding: 0;
}


html {
  font-size: 100%;
}

body {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
}

li {
  list-style: none;
}


/*-------------------------

     ローディングページ

--------------------------- */

#loading {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
}

#loading .loading-movie {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#loading-content{
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  margin: 5px;
  /* border: 1px solid red; */
}

.loading-text img{
  max-width: 170px;
}

.loading-text{
  max-width:100% ;
  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid rgb(30, 255, 0); */
}
/*-----------------------------------

          テキスト文字
------------------------------------ */

.text {
  max-width: 600px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-left: 10px;
  /* border: 1px solid red; */
}

.text p{
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: .4em;
  transform: translateY(2em);
  animation: text-animation 1s forwards ;
}


/* 1文字目 */
.text p:nth-child(1){
  animation-delay: 0.2s;
} 

  /* 2文字目 */
.text p:nth-child(2){
  animation-delay: 0.4s;
} 

  /* 3文字目 */
.text p:nth-child(3){
  animation-delay: 0.6s;
} 

  /* 4文字目 */
.text p:nth-child(4){
  animation-delay: 0.8s;
} 

  /* 5文字目 */
.text p:nth-child(5){
  animation-delay: 1s;
} 

  /* 6文字目 */
.text p:nth-child(6){
  animation-delay: 1.2s;
} 

  /* 7文字目 */
.text p:nth-child(7){
  animation-delay: 1.4s;
} 

  /* 8文字目 */
.text p:nth-child(8){
  animation-delay: 1.6s;
} 

  /* 9文字目 */
  .text p:nth-child(9){
  animation-delay: 1.8s;
} 

@keyframes text-animation {
    0% {
        transform: translateY(2em);
    }

    100% {
        transform: translateY(0);
    }
}
/*-----------------------------------

          ENTERボタン
------------------------------------ */

.enter-button {
  max-width: 700px;
  opacity: 0;
  animation: buttonFadeIn 1s forwards;
  animation-delay: 1s;
  margin: 100px auto;
}

.enter-button a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding:30px 0px;
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    font-size: 2rem;
    background: #61faf2cc;
}

.enter-button a:hover {
    background: #000000;
    color: #ffffff;
}
.enter-button a:before, .enter-button a:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 4.5px solid transparent;
  width: 0;
  height: 0;
}
.enter-button a:before {
  top: 0;
  left: 0;
}
.enter-button a:after {
  bottom: 0;
  right: 0;
}
.enter-button a:hover:before, .enter-button a:hover:after {
  width: 100%;
  height: 100%;
}
.enter-button a:hover:before {
  border-top-color: #61faf2;
  border-right-color: #61faf2;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}
.enter-button a:hover:after {
  border-bottom-color: #61faf2;
  border-left-color: #61faf2;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}

/* --- アニメーション定義 --- */
@keyframes logoIn {
  to { opacity: 1; }
}

@keyframes titleIn {
  to { opacity: 1; }
}

@keyframes subtitleIn {
  to { opacity: 1; }
}

@keyframes buttonFadeIn {
  to { opacity: 1; }
}


/* ------------------------------------

              レスポンジブ
--------------------------------------*/

@media(max-width:780px){

  .loading-text{
  max-width:100% ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(255, 204, 0); */
}

.loading-text img{
  max-width: 100px;
}

.text {
  max-width: 600px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-left: 10px;
  /* border: 1px solid red; */
}

.text p{
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: .4em;
  transform: translateY(2em);
  animation: text-animation 1s forwards ;
}

.enter-button {
  max-width: 500px;
  opacity: 0;
  animation: buttonFadeIn 1s forwards;
  animation-delay: 1s;
  margin: 100px auto;
}

.enter-button a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    font-size: 1.5rem;
    background: #61faf2cc;
}


}
  
