@charset "UTF-8";

/*  ------------------------------------

        全体の共通項目

------------------------------------ */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: #333;
}

body.menu-open {
  overflow: hidden;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

main {
  min-height: 150vh;
}

/* すべての要素の余白をリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  ------------------------------------

        index.html  ヘッダー・フッターナビメニュー

------------------------------------ */
.navi {
  display: flex;
}

.navi li {
  padding-inline: 20px;
  font-weight: bold;
  font-size: 1.25rem;
}

.navi li a {
  position: relative;
  transition: all 1s ease;
  font-weight: bold;
}

.navi li a:hover {
  color: #fff;
  animation: neon-glow 1.5s ease-in-out infinite;
}

/* ネオンゆらぎアニメーション */
@keyframes neon-glow {
  0%,
  100% {
    text-shadow: 0 0 5px #86ef7b, 0 0 10px #86ef7b, 0 0 20px #86ef7b,
      0 0 40px #86ef7b;
  }

  50% {
    text-shadow: 0 0 2px #86ef7b, 0 0 5px #86ef7b, 0 0 10px #86ef7b,
      0 0 20px #86ef7b;
  }
}

.fly-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  width: 30px;
  opacity: 0;
  pointer-events: none;
  transition: none;
}

.contact-link {
  position: relative;
  overflow: visible;
}

.contact-link a:hover .fly-icon {
  animation: flyToTopRight 0.6s ease-out forwards;
  opacity: 1;
}

/* 紙飛行機ホバー停止位置 */
@keyframes flyToTopRight {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 0;
  }

  100% {
    transform: translate(130%, -100%) rotate(15deg);
    opacity: 1;
  }
}

/*  ------------------------------------

        セクション間あしらいグラデーション

------------------------------------ */
.gradient-divider {
  height: 100px;
  background: linear-gradient(
    to bottom,
    rgba(17, 64, 58, 1),
    rgba(10, 34, 30, 0)
  );
}

/*  ------------------------------------

        index.html  ヘッダー

------------------------------------ */
#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(105, 195, 193, 0.8);
  width: 100%;
  height: 150px;
  z-index: 15;
  /* padding: 20px 2%; */
  padding: 40px;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  transition: top 0.5s ease, opacity 0.5s ease;
}

#header.unfixed {
  top: -100px;
  opacity: 0;
  pointer-events: none;
}

.logo-pc {
  display: block;
  width: 150px;
  padding-left: 20px;
}

.logo-sp {
  display: none;
}

#hamburger {
  display: none;
  z-index: 50;
}

.neon-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 15;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
  visibility: hidden;
}

.neon-menu.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.neon-menu a {
  font-size: 1.5rem;
  color: #86ef7b;
  text-decoration: none;
  text-shadow: 0 0 5px #86ef7b, 0 0 10px #86ef7b, 0 0 20px #86ef7b;
}

.menu-inner {
  position: relative;
  pointer-events: auto;
  text-align: center;
  z-index: 15;
}

.menu-inner ul {
  padding: 0;
  list-style: none;
}

.menu-inner li {
  margin: 20px 0;
  transform: translateY(30px);
  opacity: 0;
  animation: floatUp 0.8s forwards;
}

/* レスポンシブメニューアニメーション */
@keyframes floatUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-inner li:nth-child(1) {
  animation-delay: 0.1s;
}

.menu-inner li:nth-child(2) {
  animation-delay: 0.3s;
}

.menu-inner li:nth-child(3) {
  animation-delay: 0.5s;
}

.menu-inner li:nth-child(4) {
  animation-delay: 0.7s;
}

/*  ------------------------------------

        index.html  メインビジュアル

------------------------------------ */
#mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 5;
}

#mainvisual .mainvisual {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#mainvisual h2,
#mainvisual h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

#mainvisual h2 {
  top: 50%;
  font-size: 3rem;
}

#mainvisual h3 {
  top: 63%;
  font-size: 2.25rem;
}

/*  ------------------------------------

        index.html  エクスペリエンス

------------------------------------ */
#experience {
  position: relative;
  background: #063736;
  color: white;
  margin: 0;
  padding: 0;
}

#experience .light-effect {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.15),
    transparent 60%
  );
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

#experience:hover .light-effect {
  opacity: 1;
}

.hover-box {
  position: relative;
  display: block;
  overflow: hidden;
}

.click-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, opacity 0.3s ease;
  z-index: 5;
  opacity: 0;
}

.click-btn-sp {
  display: none;
}

.hover-text {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.hover-text.hover-pc {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(20px) scale(0.95);
  opacity: 0;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 20px 30px;
  border-radius: 16px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.7),
    0 0 12px rgba(255, 255, 255, 0.6);
  transition: all 0.6s ease;
  z-index: 3;
  pointer-events: auto;
}

.hover-box:hover .hover-text.hover-pc {
  opacity: 1;
  transform: translateX(-50%) translateY(0) scale(1.05);
}

.hover-text.hover-sp {
  display: none;
  pointer-events: none;
}

/*  ------------------------------------

        index.html  ボイス

------------------------------------ */
#voice {
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
  padding: 60px 20px;
  background-image: url(../img/voice-back.png);
  /* background: url("/1.8sanae.ayaka.arisa/img/voice-back.png"); */
  background-size: cover;
  text-align: center;
}

#voice h2 {
  position: relative;
  margin-bottom: 100px;
  font-size: 4rem;
  font-weight: 800;
  background: linear-gradient(135deg, #00f2fe, #4facfe, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  z-index: 1;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 6px #00f2fe, 0 0 12px #00f2fe, 0 0 20px #00c6ff;
  }

  100% {
    text-shadow: 0 0 10px #00f2fe, 0 0 18px #4facfe, 0 0 30px #00c6ff;
  }
}

#voice h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, #00f2fe, #4facfe, #00c6ff);
  border-radius: 2px;
  box-shadow: 0 0 8px #00f2fe;
  transform: translateX(-50%);
}

#voice .voice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

#voice .voice.active {
  opacity: 1;
  transform: translateY(0);
}

#voice .rabit {
  display: block;
  width: 200px;
  height: 200px;
  margin-inline: 30px;
}

#voice .balloon {
  position: relative;
  max-width: 600px;
}

#voice .balloon p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  line-height: 1.8;
  width: 75%;
  color: #fff;
  z-index: 2;
  text-align: center;
}

#voice .slider-right .balloon {
  transform: none !important;
}

#voice .slider-right .balloon p {
  transform: translate(-50%, -50%) scaleX(1);
  width: 70%;
  padding-left: 0;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.slider-left,
.slider-right {
  position: relative;
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  filter: brightness(1.5) saturate(1.5) blur(2px);
  transition: clip-path 1s ease, opacity 1s ease, filter 1.2s ease;
  overflow: hidden;
}

.slider-left {
  flex-direction: row;
}

.slider-right {
  flex-direction: row-reverse;
}

.slider-left.active,
.slider-right.active {
  opacity: 1;
  clip-path: inset(0 0 0 0);
  filter: brightness(1) saturate(1) blur(0);
  animation: cyber-glow 1.2s ease-out;
}

@keyframes cyber-glow {
  0% {
    box-shadow: 0 0 0px #00ffff;
  }

  50% {
    box-shadow: 0 0 12px #00ffff, 0 0 24px #00ffff;
  }

  100% {
    box-shadow: 0 0 0px transparent;
  }
}

.slider-left::after,
.slider-right::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 100%
  );
  transform: skewX(-25deg);
  z-index: 2;
  opacity: 0.6;
}

.slider-left.active::after,
.slider-right.active::after {
  animation: scanline 1.2s ease-in-out forwards;
}

/* ネオンライト */
@keyframes scanline {
  0% {
    left: -100%;
  }

  100% {
    left: 120%;
  }
}

/*  ------------------------------------

        index.html  フッター

------------------------------------ */
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #69c3c1;
  text-align: center;
  padding: 40px;
  flex-wrap: nowrap;
}

footer .navi {
  margin-bottom: 30px;
}

.top-btn {
  position: absolute;
  right: 20px;
  bottom: 70px;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 5;
}

.top-btn a {
  position: relative;
  transition: all 1s ease;
  font-weight: bold;
}

.top-btn a:hover {
  color: #fff;
  animation: neon-glow 1.5s ease-in-out infinite;
}

.top-btn a::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #fff;
  transform: rotate(-90deg);
  /* 角度調整（右上向き） */
  vertical-align: middle;
  position: relative;
  top: -1px;
  animation: neon-flicker 1.5s ease-in-out infinite;
}

@keyframes neon-flicker {
  0%,
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 3px #39ff14) drop-shadow(0 0 6px #39ff14)
      drop-shadow(0 0 12px #39ff14);
  }

  50% {
    opacity: 0.6;
    filter: drop-shadow(0 0 1px #39ff14) drop-shadow(0 0 2px #39ff14)
      drop-shadow(0 0 4px #39ff14);
  }
}

.top-btn a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #86ef7b;
  transition: all 0.5s ease;
  transform: translateX(-50%);
}

.top-btn a:hover::after {
  width: 120%;
}

/*  ------------------------------------

        index.html  レスポンシブ

------------------------------------ */
@media screen and (max-width: 768px) {
  /* ヘッダー */
  .logo-pc {
    display: none;
  }

  .logo-sp {
    display: block;
    width: 200px;
    height: auto;
  }

  .header-nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
  }

  .header-nav.open {
    display: block;
  }

  .navi {
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    flex-wrap: wrap;
  }

  .gradient-divider {
    height: 80px;
  }

  /* メインビジュアル */
  #mainvisual {
    margin: 0;
    padding: 0;
  }

  #mainvisual h2 {
    font-size: 2rem;
    padding-inline: 2%;
    top: 40%;
  }

  #mainvisual h3 {
    font-size: 1rem;
    padding-inline: 2%;
    top: 55%;
  }

  /* エクスペリエンス */
  #experience {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .hover-box {
    display: block;
    position: relative;
  }

  .hover-box .experience {
    display: block;
  }

  .click-btn-sp {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 1;
    pointer-events: auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    z-index: 5;
  }

  .hover-box .light-effect,
  .hover-text .hover-pc,
  .hover-box .click-btn {
    display: none;
  }

  .hover-text.hover-sp {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 8px;
    z-index: 10;
    width: 80%;
  }

  hover-text.hover-pc {
    display: none !important;
  }

  /* ボイス */
  #voice {
    padding: 60px 20px;
    /* ローカル用 */
    /* background: url("../img/voice-back.png"); */
    /* Git Hub用 */
    background-image: url("/1.8sanae.ayaka.arisa/img/voice-back.png");
    text-align: center;
  }

  #voice .voice {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #voice h2 {
    font-size: 2rem;
  }

  #voice .rabit {
    width: 100px;
    height: 100px;
    display: block;
  }

  #voice .balloon {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  #voice .balloon p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.875rem;
    line-height: 1.6;
    text-align: left;
  }

  #voice .slider-right .balloon {
    transform: none !important;
    width: 100%;
    margin: 0 auto;
  }

  #voice .slider-right .balloon p {
    transform: translate(-50%, -50%) scaleX(1);
    left: 50%;
    width: 65%;
    padding: 10px;
    margin: 0 auto;
  }

  /* フッター */
  footer {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  footer .navi {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  footer .navi li {
    margin: 0;
    font-size: 0.75em;

    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px #86ef7b, 0 0 16px #86ef7b, inset 0 0 8px #86ef7b;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
  }

  footer .navi li::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgba(134, 239, 123, 0.6),
      transparent 60%
    );
    z-index: -1;
    animation: pulse 2s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.7;
    }

    50% {
      transform: scale(1.2);
      opacity: 0.3;
    }

    100% {
      transform: scale(1);
      opacity: 0.7;
    }
  }

  footer .navi li a {
    color: #333;
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    z-index: 2;
  }

  .top-btn {
    visibility: hidden;
    opacity: 0;
  }

  footer p {
    font-size: 0.75rem;
  }

  /* index.html 共通設定 */
  #hamburger {
    display: block;
    position: fixed;
    top: 40px;
    right: 20px;
    width: 64px;
    height: 64px;
    z-index: 50;
    cursor: pointer;
  }

  #leafIcon {
    display: block;
    width: 64px;
    height: 64px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    opacity: 1;
  }

  .vein {
    transition: transform 0.4s ease;
    stroke: #fff;
    stroke-width: 3;
    transform-origin: center;
  }

  #leafIcon.open .vein1 {
    transform: rotate(45deg);
  }

  #leafIcon.open .vein2 {
    opacity: 0;
  }

  #leafIcon.open .vein3 {
    transform: rotate(-45deg);
  }
}

/*  ------------------------------------

        experience.html  .scroll

------------------------------------ */
body.experience-page {
    /* ローカル用 */
  /* background-image: url("../img/exbg.jpg"); */
    /* Git Hub用 */
  background: url("/1.8sanae.ayaka.arisa/img/exbg.jpg");
  background-repeat: repeat;
  overflow-x: auto !important;
}

.horizontal-section {
  width: 100vw;
  height: 90vh;
  margin-top: 100px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
  flex-direction: row;
}

.scroll-container {
  display: flex;
  height: 100vh;
  overflow-x: auto !important;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling: touch; */
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-item {
  flex: 0 0 100vw;
  height: 100vh;
  /* scroll-snap-align: start; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
}

.scroll-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* 黒いフィルター */
  z-index: 2;
}

.scroll-item h2 {
  position: absolute;
  top: 500px;
  left: 80px;
  color: white;
  z-index: 3;
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
}

.scroll-item p {
  position: absolute;
  top: 650px;
  left: 80px;
  color: white;
  z-index: 3;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  /* margin-top: 10px; */
}

/*  ------------------------------------

        experience.html  .gallery

------------------------------------ */
.fall {
  padding: 80px 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-items: center;
  align-items: center;
  height: auto;
}

/* カード回転 */
.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 16px;
  overflow: hidden;
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-card-back {
  background-color: #ece3e3;
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.flip-card-back p {
  margin: 0;
}

.card-text {
  display: none;
}

/*  ------------------------------------

        experience.html  レスポンシブ

------------------------------------ */
@media screen and (max-width: 768px) {
  .horizontal-section {
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: normal;
  }

  .scroll-container {
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    overflow-y: auto;
  }

  .scroll-item {
    flex: 0 0 auto;
    /* 横並びから縦並びに変えるため、アイテムが縦に並ぶ */
    height: auto;
    width: 100%;
    /* scroll-snap-align: start; */
  }

  .scroll-item img {
    width: 100%;
    height: auto;
  }

  .scroll-item h2 {
    top: 130px;
    left: 30px;
    color: white;
    z-index: 3;
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .scroll-item p {
    top: 180px;
    left: 30px;
    color: white;
    z-index: 3;
    margin: 0;
    font-size: 0.895rem;
    line-height: 1.5;
    /* margin-top: 10px; */
  }

  .fall {
    grid-template-columns: 1fr;
    /* 縦並び */
    padding: 50px 20px;
  }

  .flip-card {
    margin-bottom: 20px;
  }

  .flip-card:first-child {
    margin-top: 20px;
  }

  .flip-card:last-child {
    margin-bottom: 35px;
  }

  /* カードをめくれないようにする */
  .flip-card:hover .flip-card-inner {
    transform: none;
    /* めくれないようにする */
  }

  .flip-card-front,
  .flip-card-back {
    position: relative;
    width: 100%;
    /* height: 100%; */
    backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
  }

  .flip-card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* 裏面のテキスト */
  .flip-card-back {
    background-color: #ece3e3;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* box-sizing: border-box; */
    flex: 0;
    height: auto;
    text-align: center;
  }

  .flip-card-back p {
    margin: 0;
  }

  .card-text {
    display: block;
    color: #fff;
    text-align: center;
    margin: 20px;
  }
}
